
/*This is a CSS entered below*/
			.Whatitscalled {
				font-size: 24px;
				color:#OOOOOO;
				font-family: Arial;
				font-style: italic;
			}
			img {
				max-width: 100%;
				width: 600px;
			}
			.Insideit {
				width: 600px;
			}