/*This is a CSS entered below*/
.Whatitscalled {
	font-size: 24px;
	color: #OOOOOO;
	font-family: Arial;
	font-style: italic;
}
img {
	max-width: 100%;
	width: 400px;
}
.Insideit {
	width: 400px;
}
/* Now I am adding CSS for the div so that the visualization I have added on the top doesnt jump */
#thisisachartaboutsomalirefugees_div{
	width: 400px;
	height:300px;
	background-color: #000000;
}
/* this is the second CSS for the div for the second visualization so make sure this doesn't jump either */
#thisisachartaboutsomaliIDPs_div{
	width: 400px;
	height:300px;
	background-color: #eeeeee;
}
